*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,body{
  width: 100%
}

/* UTILITY */

[class^=row]:after{
  display: table;
  clear: both;
  content: "";
}


.margin-left{
  margin-left: 10%;
}

.margin-right{
  margin-right: 10%;
}

.btn{
  border:1px solid #FF7A59;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.orange-text{
  color: #FF7A59;
}

.btn-orange{
  background-color: #FF7A59;
}

.white-text{
  color: #FFFFFF;
}

/* FINE UTILITY */

/* INIZIO HEADER */

.w-80{
  width: 80%;
  height: 60px;
}

.nav{
  position: relative;
  color: #33475B;
}

.int{
  width: 100%;
  height: 80px;
  background-color: #e5fffa;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid black;
}

#space{
  margin: 0 10px;
}

.left-part i{
  font-size: 13px;
}

.left-part{
  float: left;
  width: 50%;
  line-height: 80px;
  text-align: left;
  font-size: 16px;
}

.right-part{
  float: right;
  width: 50%;
  line-height: 80px;
  text-align: right;
}

.fa-search{
  color: #069A87;
  margin-right: 5px;
  cursor: pointer;
}

div > button{
  margin: 0 10px;
}

/* TAG INTRO */

.intro{
  width: 100%;
  height: 160px;
  position: relative;
  color: #33475B;
}

.left-text{
  position: absolute;
  bottom: 0;
  left:10%;
  line-height: 65px;
  vertical-align: middle;
}

.right-text{
  position: absolute;
  bottom: 0;
  right:10%;
  line-height: 80px;
}

.right-text ul li{
  display: inline-block;
  margin:0 10px;
  cursor: pointer;
}

.fa-chevron-down{
  margin-left:20px;
  cursor: pointer;
}

/* FINE HEADER */

/* INIZIO MAIN */

/* INIZIO PRIMA SECTION */

.first-container{
  position: relative;
}

.jumbo{
  width: 100%;
  height: 900px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.jumbo-left{
  float: left;
  width: 30%;
  height: 900px;
  text-align: left;
  padding-right: 10px;
  color: #33475B;
  padding-top: 120px;
  padding-right: 100px;
}

.jumbo h1{
  font-size: 55px;
}

.jumbo p{
  font-size: 18px;
  margin-top: 25px;
  line-height: 40px;
}

.jumbo span{
  font-size: 16px;
  display: block;
  margin-top: 25px;
}

.jumbo button{
  margin: 20px 0;
  padding: 20px 30px;
  font-size: 17px;
}

.lightblue-banner{
  width:100%;
  height: 12%;
  background-color: #E5FFFA;
  position: absolute;
  bottom:0;
  border-top:5px solid black;
  border-bottom:5px solid black;
}

/* FINE PRIMA SECTION */

.second-container{
  width: 100%;
  height: 2400px;
  background-color: #F5F8FA;
}

.row{
  margin: 0 10%;
  width: 80%;
  height:550px;
  text-align: center;
  color: #33475B;
  padding: 3% 20%;
}

.row img{
  width: 350px;
  height: 250px;
}

.row h2 {
  font-size: 50px;
}

.row p{
  margin-top: 40px;
  font-size: 20px;
}

.row2{
  width: 80%;
  height:450px;
  text-align: center;
  color: #33475B;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
  margin-bottom: 60px;
}

.col1{
  float: left;
  width: 30%;
  height: 450px;
  background-image: url(../img/book.svg);
  background-repeat: no-repeat;
  background-size: 40% 40%;
  background-position:center;
  background-position:top;
  margin-top: 3%;
}

.col2{
  float: right;
  width: 70%;
  height: 450px;
  text-align: left;
  padding-right: 30%;
  margin-top: 4%;
}

.col1 button{
  font-size: 20px;
  padding: 30px 60px;
  margin-top: 35%;
}

.col2 h2{
  font-size: 40px;
  margin-bottom: 40px;
}

.col2 p{
  font-size: 21px;
  line-height: 40px;
}

.col2 ul li{
  display: inline-block;
  font-size: 21px;
}

.col2 h3,hr{
  display: inline-block;
  font-size: 30px;
  width:50%;
  margin: 40px 0;
  vertical-align: middle;
}

.fa-check{
  font-size: 15px;
  background-color: #FF7A59;
  color: #FFFFFF;
  border-radius: 15px;
  padding: 5px 5px;
  margin-right: 25px;
}

.fa{
  margin-left: 25px;
}

  .row3{
  width: 80%;
  height:1000px;
  text-align: center;
  color: #33475B;
  background-color: #F5F8FA;
}

.col3{
  float: left;
  width: 30%;
  height: 100%;
  background-color: red;
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
  background-color: #FFFFFF;
}

.marg4{
  margin-right: 5%;
}

.col4{
  float: left;
  width: 30%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
}

.col5{
  float: left;
  width: 30%;
  height: 100%;
  background-color: red;
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
  background-color: #FFFFFF;
}
